.home-page {
    width: 100%;
    height: 100%;
    background: var(--color-background);
    color: var(--color-text);
    .container-home {
        padding-left: 20px;
        padding-right: 20px;

        .container-filter {
            display: flex;
            align-items: center;
            justify-content: end;
            .input-form {
                padding: 5px;
                font-size: var(--size-8);
                margin-right: 5px;
                width: 45px;
                color: var(--color-text);
            }
        }

        .custom-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--color-text);
            font-size: var(--size-8);
            background: var(--footer-background);

            .custom-item {
                height: 100%;
                padding: 10px;

                i {
                    font-size: 1.3rem;
                    &.positive {
                        color: var(--theme-color-3);
                    }

                    &.negative {
                        color: var(--color-red);
                    }

                    &.null {
                        color: var(--theme-color-2);
                    }
                }
            }

            .total-balance i {
                margin-left: 5px;
            }
        }

        .card-credit {
            color: var(--color-text);
            font-size: var(--size-8);
            background: var(--footer-background);

            .card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .custom-btn {
                    background: rgba(204, 204, 204, 0.2705882353);
                    padding: 5px;
                    border-radius: 5px;
                    font-size: var(--size-8);
                    border: 1px solid var(--color-separator);
                    color: var(--color-text);
                }
            }

            .card-body {
                height: calc(100vh - 565px);
                max-height: calc(100vh - 565px);
                overflow: auto;
                padding: 0px 10px;

                .container-card {
                    border: 1px solid #cccccc4d;
                    border-radius: var(--radius);
                    padding: 5px;
                    margin-bottom: 5px;
                    margin-top: 5px;

                    .btn-edit {
                        font-size: var(--size-8);
                        background: var(--theme-color-2);
                        border-color: var(--theme-color-2);
                        margin-right: 5px;
                    }

                    .btn-del {
                        font-size: var(--size-8);
                        background: var(--color-red);
                        border-color: var(--color-red);
                    }
                }

                .no-data {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--size-8);
                    width: 100%;
                    height: 100%;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
