.modal-add-card {
    .modal-content {
        background: var(--color-background);
        border: 1px solid #cccccc4d;
    }
    
    .modal-header {
        .modal-title {
            font-size: var(--size-7);
            color: var(--color-text);
        }
        border-bottom: 1px solid #cccccc4d;
    }

    .modal-body {
        color: var(--color-text);
        .input-form{
            font-size: var(--size-7) !important;
        }
    }

    .modal-footer {
        border-top: 1px solid #cccccc4d;
        .close-btn {
            background: var(--color-red);
            border-color: var(--color-red);
            font-size: var(--size-7);
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                margin-right: 5px;
            }
        }
        .save-btn {
            background: var(--theme-color-1);
            border-color: var(--theme-color-1);
            font-size: var(--size-7);
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                margin-right: 5px;
            }
        }
    }
}