.container-topnav {
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .label {
        .user-label {
            font-size: var(--size-8);
        }
        .icon-label {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            i {
                margin-right: 5px;
                font-size: 1.5rem;
            }
            h3 {
                margin: 0;
            }
        }
    }

    .container-user {
        display: flex;
        align-items: center;
        justify-content: center;

        .background-notify {
            background: var(--footer-background);
            color: var(--color-primary);
            padding: 5px;
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            i {
                font-size: var(--size-9);
                color: var(--color-text);
                &.active {
                    color: var(--theme-color-1);
                }
            }
        }

        .p-avatar {
            width: 2rem;
            height: 2rem;
        }
    }
}
