@import "bootstrap";
@import "./core.scss";
@import "./plugin.scss";
@import "./variables.scss";
@import "@ionic/react/css/core.css";
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";
@import "primeicons/primeicons.css";

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

.input-form {
    background-color: var(--color-background);
    padding: 10px;
    font-size: var(--size-8);
    border: 1px solid var(--color-separator);
    color: var(--color-primary);
    border-radius: var(--radius);
    &:focus,
    &:focus-visible {
        border-color: var(--theme-color-1);
        outline: none;
    }
}

.icon-eye {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: var(--color-text);
        margin-bottom: 4px;
        margin-right: 5px;
    }
}

.form-switch .form-check-input:focus {
    --bs-form-switch-bg: url(../svg/check.svg);
}

.form-check-input {
    --bs-form-check-bg: var(--color-separator);
    border: 1px solid var(--color-separator);
    width: 2.5em !important;
    height: 1.1em !important;
    &:focus,
    &:focus-visible {
        box-shadow: none !important;
        border-color: var(--color-separator) !important;
    }
    &.active {
        --bs-form-switch-bg: url(../svg/check_active.svg) !important;
    }
}

.form-check-label {
    margin-left: 5px;
    font-size: var(--size-8);
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: initial;
}

.form-check-input:checked {
    background-color: var(--theme-color-1);
    border-color: var(--theme-color-1);
    box-shadow: none;
}

.no-visible-app {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #121212;
    color: #acacac;

    .no-visible-img {
        img {
            height: 15rem;
        }
    }

    .no-visible-info {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            margin: 0;
        }
        i {
            margin-right: 5px;
        }
    }
}
