:root {
    --color-background: #121212;
    --color-text: #acacac;
    --color-primary: #38B6FF;
    --color-white: #ffff;
    --color-separator: #cccccc;
    --size-7: 0.7rem;
    --size-8: 0.8rem;
    --size-9: 0.9rem;
    --radius: 10px;
}
