:root {
    --color-background: #121212;
    --nav-background: #79797930;
    --footer-background: #79797930;
    --color-text: #acacac;
    --color-white: #ffff;
    --color-separator: #cccccc;
    --color-red: #e74c3c;
    --theme-color-1: #38b6ff;
    --theme-color-2: #3877ff;
    --theme-color-3: #38ffc6;
    --theme-color-4: #38f5ff;
    --theme-color-5: #3838ff;
    --size-7: 0.7rem;
    --size-8: 0.8rem;
    --size-9: 0.9rem;
    --size-1: 1rem;
    --radius: 10px;
}
